h1 {
    text-align:center;
    line-height:1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    color:#FEFFEC;
}
a {
    color:black;
}

p {
    text-align:left;
    font-size:100%;
    line-height:1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

ul{
    text-align:center;
    display:block;
    font-size:100%;
    line-height:1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
.center{
display: flex;
flex: 50%;
    justify-content: center;
    align-items: center;
    display:block;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 70px;
  height: 70px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 200px;
}


.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
    background-color: #4BA486;
    border: 5px;
    border-radius: 15px;
    flex-direction: column;
}
.section {width: 98%; order: 3; font-size: 26px; text-align: left;}
.container#front:hover{background-color:dimgray;}
.container#middle:hover{background-color:gray;}
.container#last:hover{background-color:darkgrey;}
 /* The sidebar menu */
div.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */

position:fixed; /* Fixed Sidebar (stay in place on scroll) */
  max-height:100%;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow:scroll;
  overflow-x: hidden; /*Disable horizontal scroll */
  overflow-y: scroll;
  padding-top: 20px;
    font-size: 25px;
  color: #FEFFEC;
}

/* The navigation menu links */
div.sidenav > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
div.sidenav > a:hover {
  color: #f1f1f1;
}
/* 2019-04-18 ebb: The side navigation when output as unordered list in reading views:  */
div.sidenav > ul, li > ul {
list-style-type: none;
  margin: 0;
  padding: 0;
}


li > span.sidenav {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px; 
  color: #818181;

}

li > ul > li {line-height: 1.12em; font-size: 10px;  
}
li > ul > li > a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181; 
}
/* When you mouse over the navigation links, change their color */
div.sidenav > ul > li > ul > li > a:hover {
  color: /*#f1f1f1*/#e24f4f; font-size: 10px;
}


/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 300px;
  height: 300px;
}
.done{
    color:red;
}
 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 
body, html {
    height: 100%;
}
body {
    background-color:#4BA486;
}
.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
#horizontal{
    flex-direction:row;
}

