span.allusion.on{color:yellow}
span.person.on{color:red}
span.reference.on{color:brown}
span.said.on{color:blue}

/* Drop Down Formatting */

/* HTML for the glossed text: <span class = "dropdown"> */
/* HTML for the gloss content: <span class = "dropdown_content"> */



span.dropdown {
    position: relative;
    display: inline-block;
}

span.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    /*  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    padding: 12px 16px;
    z-index: 1;
}

span.dropdown:hover span.dropdown-content {
    display: block;
}

span.gloss {
    color: green;
}
